{% extends "base.html" %}
{% load static %}  <!-- para cargar los elementos estaticos,ya sea los css, imagenes, etc-->
<html lang="en">

<head>
  <title>{% block title %}Contacto{% endblock %}</title>
</head>
  
<body>
  
    {% block content %}

    <!--Aca apareceria el contenido de cada plantilla-->

    <section class="sectionContacto" id="contacto">

        <div class="diseñoContacto">
          <div>
            <p class="titulo">CONTACTO</p>
          </div>
          <form id="formContacto" action="show_data.html" method="post">
            <div class="formulario">
              <label for="nombre">
                <input type="text" name="nombre" id="nombreform" placeholder="Nombre" />
              </label>
            </div>
            <div class="formulario">
              <label for="apellido">
                <input type="text" name="apellido" id="apellidoform" required placeholder="Apellido" />
              </label>
            </div>
    
            <div class="formulario">
              <label for="telefono">
                <input type="number" name="telefono" id="telefonoform" placeholder="Teléfono" />
              </label>
            </div>
            <div class="formulario">
              <label for="mail">
                <input type="email" name="mail" id="mailform" placeholder="Mail" required pattern="^[a-zA-Z0-9!#$%&amp;'*+\/=?^_`\{\|\}~.\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*$">
              </label>
            </div>
            <div class="formulario">
              <label for="mensaje"></label>
              <textarea name="mensaje" id="mensajeform" placeholder="Mensaje" cols="40" rows="8" required></textarea>
    
            </div>
            <br>
            <div class="formulario">
            
    
            <input type="submit" value="ENVIAR" id="formButton">
             
             
            </div>
          </form>
          
        </div>
      </section>
    
    {% endblock %}
</body>
</html>