{% extends "base.html" %}
{% load static %}  <!-- para cargar los elementos estaticos,ya sea los css, imagenes, etc-->
<html lang="en">

<head>
  <title>{% block title %}Editar Perfil{% endblock %}</title>
</head> 
<body>

{% block content %}


<section class="sectionContacto" id="contacto">
  <div class="diseñoContacto"> <!-- -->
    <div>
      <p class="titulo">Editar Información</p>
    </div>
    <form id="formularioCurso" action="/editarP/" method="POST">{% csrf_token %}                    
      <input type="hidden" id="idP" name="idPE" class="form-control" value="{{p.id}}" />
      <div class="formulario">
        <label for="nombreP">
          <input type="text" id="nombreP" name="nombrePE" class="form-control" value="{{p.nombre}}" />
        </label>
      </div>
      <div class="formulario">
        <label for="telefonoP">
          <input type="number" id="telefonoP" name="telefonoPE" class="form-control" value="{{p.telefono}}"/>
        </label>
      </div>
      <div class="formulario">
        <label for="emailP">
          <input type="email" name="emailPE" id="mailform" value="{{p.email}}" pattern="^[a-zA-Z0-9!#$%&amp;'*+\/=?^_`\{\|\}~.\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*$">
        </label>
      </div>
      <div class="formulario">
        <label for="domicilioP">
          <input type="text" name="domicilioP" id="domicilioP" value="{{p.domicilio}}">
        </label>
      </div>
      <div class="formulario">
      <input type="submit" value="Guardar Cambios" id="formButton">
      </div>
    </form>
    
  </div>
</section>


{% endblock %}



<div class="nosotros" id="nosotros">
  <div>
    <h3 class="titulo">NOSOTROS </h3>
  </div>
  <br>

  <table class="tableNos">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">E-mail</th>
        <th scope="col">Domicilio</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in object_list %}
      <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.telefono}}</td>
        <td>{{p.email}}</td>
        <td>{{p.domicilio}}</td>
        <td class="tdN"><a href="editarP/{{p.id}}">Editar</a></td>
        <td class="tdN"><a href="eliminarP/{{p.id}}">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
