{% extends "base.html" %}
<html lang="en">

<head>
  <title>{% block title %}Portfolio{% endblock %}</title>
</head>
  
<body>
  

{% block content %}

<!--Aca apareceria el contenido de cada plantilla-->

<header class="header" id="home">
  <div class="tituloHeader">
    <h1>PORTFOLIO</h1>
  </div>
</header>


{% endblock %}
</body>
</html>



<ul class="ol-analia">
  {% for p in perfiles %}
  <ol class="ol-modal">{{p.nombre}}</ol>
  <ol class="ol-modal">{{p.telefono}}</ol>
  <ol class="ol-modal">{{p.email}}</ol>
  <ol class="ol-modal">{{p.domicilio}}</ol>
  {% endfor %}
</ul>