{% extends "base.html" %}
{% load static %}  <!-- para cargar los elementos estaticos,ya sea los css, imagenes, etc-->
<html lang="en">

<head>
  <title>{% block title %}Nosotros{% endblock %}</title>
</head> 
<body>

{% block content %}


   

   <section class="sectionContacto" id="contacto">
    <div class="diseñoContacto"> <!-- -->
      <div>
        <p class="titulo">Cargar Nuevo Perfil</p>
      </div>
      <form id="formularioCurso" action="/registrarPerfil/" method="POST">{% csrf_token %}                    
        <div class="formulario">
          <label for="nombreP">
            <input type="text" id="nombreP" name="nombreP" class="form-control" placeholder="Nombre" autofocus/>
          </label>
        </div>
        <div class="formulario">
          <label for="telefonoP">
            <input type="number" id="telefonoP" name="telefonoP" class="form-control"/>
          </label>
        </div>
        <div class="formulario">
          <label for="emailP">
            <input type="email" name="emailP" id="mailform" placeholder="E-mail" pattern="^[a-zA-Z0-9!#$%&amp;'*+\/=?^_`\{\|\}~.\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*$">
          </label>
        </div>
        <div class="formulario">
          <label for="domicilioP">
            <input type="text" name="domicilioP" id="domicilioP" placeholder="Domicilio">
          </label>
        </div>
        <div class="formulario">
        <input type="submit" value="Guardar Perfil" id="formButton">
        </div>
      </form>
      
    </div>
  </section>





  <div class="nosotros" id="nosotros">
    <div>
      <h3 class="titulo">NOSOTROS </h3>
    </div>
    <br>
  
    <table class="tableNos">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">E-mail</th>
          <th scope="col">Domicilio</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in object_list %}
        <tr>
          <td>{{p.nombre}}</td>
          <td>{{p.telefono}}</td>
          <td>{{p.email}}</td>
          <td>{{p.domicilio}}</td>
          <td class="tdN"><a href="edicionP/{{p.id}}">Editar</a></td>
          <td class="tdN"><a href="eliminarP/{{p.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}