{% extends "base.html" %}
{% load static %}  <!-- para cargar los elementos estaticos,ya sea los css, imagenes, etc-->
<html lang="en">

<head>
  <title>{% block title %}Nosotros{% endblock %}</title>
</head> 
<body>

{% block content %}

    <!--Aca apareceria el contenido de cada plantilla-->
<!-- NOSOTROS -->

<div class="nosotros" id="nosotros">
  <div>
    <h3 class="titulo">NOSOTROS </h3>
  </div>
  <br>

  <!-- ANALIA -->
  <div class="card-grid">
    <div class="card-blur">
      <section id="nombre">
        <label id="abrirModal1"><img src="{% static './media/img/emojiAna.png' %}" alt="Card" class="img-card">
          <p class="nombre">Analia</p>
        </label>
      </section>
    </div>

    <!-- Ventana modal, por defecto no visiblel -->
    <div id="ventanaModal1" class="modal">
      <div class="modal-content1">
        <span class="cerrar1">x</span>
        <h2 class="ol-info">Analia Rossotti</h2>
        <h3 class="ol-info">Información Personal:</h3>
        <a class="whatsapp" target="_blank" href="https://wa.me/5491165065380">
          <ol class="ol-info">Cel.: (011) 15-6506-5380 <i class="fa fa-whatsapp fa-lg"></i>
        </a></ol>
        <ol class="ol-info">E-mail: analia.rossotti@gmail.com</ol>
        <ol class="ol-info">Domicilio: Hurlingham, GBA Zona Oeste</ol>
        <ol class="ol-info"><ol class="fa">  
          <a class="fa fa-github fa-lg" target="_blank" href="https://github.com/anyrossotti"
            alt="Github"></a><a class="fa fa-linkedin fa-lg" target="_blank"
            href="https://www.linkedin.com/in/analiabrossotti/" alt="Linkedin"></a><a class="fa-lg"
            href="./media/cv/AnaliaRossottiCV.pdf" download="AnaliaRossottiCV.pdf"><i class="fa fa-file-pdf-o fa-lg"
              alt="Descargar CV"></i></a></ol>
        </ol>
      </div>
    </div>

    <!-- VICTORIA -->
    <div class="card-blur">
      <section id="nombre">
        <label id="abrirModal2"><img src="{% static './media/img/emojiVico.png' %}" alt="Card" class="img-card">
          <p class="nombre">Victoria</p>
        </label>
      </section>
    </div>

    <!-- Ventana modal, por defecto no visiblel -->
    <div id="ventanaModal2" class="modal">
      <div class="modal-content2">
        <span class="cerrar2">x</span>
        <h2 class="ol-info">Victoria Flama</h2>
        <h3 class="ol-info">Información Personal:</h3>
        <a class="whatsapp" target="_blank" href="https://wa.me/3482395855">
          <ol class="ol-info">Cel.: (03482) 15395855 <i class="fa fa-whatsapp fa-lg"></i>
        </a></ol>
        <ol class="ol-info">E-mail: vickiflama1@gmail.com</ol>
        <ol class="ol-info">Domicilio: Santa Fe, Santa Fe</ol>
        <ol class="ol-info"><ol class="fa">
          <a class="fa fa-github fa-lg" target="_blank" href="https://github.com/vickiflama"
            alt="Github"></a><a class="fa fa-linkedin fa-lg" target="_blank"
            href="https://www.linkedin.com/in/victoria-flama-743012212/" alt="Linkedin"></a><a class="fa-lg" href="./media/cv/VictoriaFlamaCV.pdf"
            download="VictoriaFlamaCV.pdf"><i class="fa fa-file-pdf-o fa-lg" alt="Descargar CV"> </i></a></ol></ol>
      </div>
    </div>

    <!-- MARÍA INÉS -->
    <div class="card-blur">
      <section id="nombre">
        <label id="abrirModal3"><img src="{% static './media/img/Emoji.png' %}" alt="Card" class="img-card">
          <p class="nombre">María Inés</p>
        </label>
      </section>
    </div>
    <!-- Ventana modal, por defecto no visiblel -->
    <div id="ventanaModal3" class="modal" >
      <div class="modal-content3">
        <span class="cerrar3">x</span>
        <h2 class="ol-info">María Inés Bocanera</h2>
        <h3 class="ol-info">Información Personal:</h3>
        <a class="whatsapp" target="_blank" href="https://wa.me/">
          <ol class="ol-info">Cel.:**** <i class="fa fa-whatsapp fa-lg"></i>
        </a></ol>
        <ol class="ol-info">E-mail: mariainesbocanera@yahoo.com.ar</ol>
        <ol class="ol-info">Domicilio: San Miguel de Tucumán</ol>
        <ol class="ol-info"><ol class="fa">
          <a class="fa fa-github fa-lg" target="_blank" href="https://github.com/inesboc"
            alt="Github"></a><a class="fa fa-linkedin fa-lg" target="_blank"
            href="https://www.linkedin.com/in/maria-ines-bocanera-712670178" alt="Linkedin"></a><a class="fa-lg"
            href="media/cv/MIBCV.pdf" download="MIB"><i class="fa fa-file-pdf-o fa-lg"
              alt="Descargar CV"> </i></a></ol></ol>
      </div>
    </div>

  </div>
</div>
    
    {% endblock %}
</body>
</html>