{% extends "base.html" %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>

{% block content %}
   
    
  <header class="header" id="home">
    <div class="tituloHeader">
      <h1>HOLA DESDE PLANTILLA</h1>
    </div>

  

<p>Nombre: {{nombre_persona}}</p>
<p>Apellido: {{apellido_persona}}</p>
<p>Fecha: {{now}}</p>

<ul>
  {% include 'superior/barra.html' %}
  {% if lista %}
    {% for l in lista %}
    <li>{{l}}</li>
    {% endfor %}
  {% else %}
    <p>No hay informacion para mostrar</p>
  {% endif %}

</ul>





  </header>


  

    <!-- SKILLS -->
    <section class="sectionSkills" id="skills">
       <div>
      <h3 class="titulo">SKILLS</h3>
    </div>
      <br>
  
      <div class="v-lineAna"></div>
  
      <div class="uno animado1">
        <h5>ANALIA ROSSOTTI</h5>
        <div id="ventanaModal2" class="skillsAnalia">
  
          <ol class="ol-analia">
            <li class="ol-modal" type="none">POO</li>
            <li class="ol-modal" type="none">MySQL</li>
            <li class="ol-modal" type="none">HTML</li>
            <li class="ol-modal" type="none">CSS</li>
            <li class="ol-modal" type="none">Python</li>
            <li class="ol-modal" type="none">Trabajo en equipo</li>
            <li class="ol-modal" type="none">Versatilidad</li>
            <li class="ol-modal" type="none">Empatía</li>
            <li class="ol-modal" type="none">Iniciativa</li>
            <li class="ol-modal" type="none">Resolución de conflictos</li>
          </ol>
        </div>


{% endblock %}
</body>


</html>