{% extends "base.html" %}
{% load static %}  <!-- para cargar los elementos estaticos,ya sea los css, imagenes, etc-->
<html lang="en">

<head>
  <title>{% block title %}Skills{% endblock %}</title>
</head>
  
<body>
  
    {% block content %}

    <!--Aca apareceria el contenido de cada plantilla-->
    <!-- SKILLS -->
<section class="sectionSkills" id="skills">
  <div>
   <h3 class="titulo">SKILLS</h3>
  </div>
   <br>

  <div class="v-lineAna">
    <div class="uno animado1">
     <h5>ANALIA ROSSOTTI</h5>
     <div id="ventanaModal2" class="skillsAnalia">

       <ol class="ol-analia">
         <li class="ol-modal" type="none">POO</li>
         <li class="ol-modal" type="none">MySQL</li>
         <li class="ol-modal" type="none">HTML</li>
         <li class="ol-modal" type="none">CSS</li>
         <li class="ol-modal" type="none">Python</li>
         <li class="ol-modal" type="none">Trabajo en equipo</li>
         <li class="ol-modal" type="none">Versatilidad</li>
         <li class="ol-modal" type="none">Empatía</li>
         <li class="ol-modal" type="none">Iniciativa</li>
         <li class="ol-modal" type="none">Resolución de conflictos</li>
       </ol>
     </div>
     <div class="p-analia">
       <h5>Historia Laboral</h5>
       <p>       
       
       HSBC Bank Argentina

       Tareas inherentes a la Caja.
       Manejo del libro de inventarios de tarjetas.
       Control de cheques depositados.
       Acceso a cajas de seguridad.
       Tareas de Greeter.</p> 
       <p>
       Provincia NET (Grupo BAPRO)
       CAJERA, ATENCIÓN AL CLIENTE
       01/2010 – 10/2018
       Apertura/Cierre/Arqueo de caja.
       Cobro de impuestos y servicios en efectivo y débito.
       Manejo de grandes volúmenes de dinero.
       Despacho de camión de caudales.</p>
     </div>
   </div>

   <br>
   <div class="v-lineVictoria">
   <div class="dos animado2">

     <h5>VICTORIA FLAMA</h5>
     <div id="ventanaModal2" class="skillsVictoria">
       <ol class="ol-victoria">

         <li class="li-victoria" type="none">HTML</li>
         <li class="li-victoria" type="none">CSS</li>
         <li class="li-victoria" type="none">Python</li>
         <li class="li-victoria" type="none">Bootstrap</li>
         <li class="li-victoria" type="none">GIT</li>
         <li class="li-victoria" type="none">Scrum</li>
         <li class="li-victoria" type="none">JavaScript</li>
         <li class="li-victoria" type="none">Vue</li>
         <li class="li-victoria" type="none">Redes sociales</li>
         <li class="li-victoria" type="none">Paquete Office </li>
       </ol>
     </div>

     <div class="p-victoria">

       <h5>Historial laboral</h5>
       <p>
         Julio 2022 - Actualmente. Santa fe, Capital.
         Diligencias notariales y secretaria en una escribanía: manejo de agendas, correspondencias, mails, teléfono
       </p>
       <p>2020-2021 Avellaneda - Santa Fe
         Secretaria – Atención al público
         Servicio al cliente, caja y mozo
         AgenPIA: Espacio coworking </p>
       <p>
         Cafetería "El Encuentro"
         2017-2018 Avellaneda - Santa Fe
       </p>
     </div>
   </div>

<br>
   <div class="v-lineMariaInes"></div>

   <div class="tres animado3">

     <h5>MARÍA INÉS BOCANERA</h5>
     <div id="ventanaModal2" class="skillsMariaInes">
       <ol class="ol-mariaInes">

         <li class="li-mariaInes" type="none">Programación Inicial. Codo a Codo 2022</li>
         <li class="li-mariaInes" type="none">Educación Médica o profesional postgrado</li>
         <li class="li-mariaInes" type="none">Entrenamiento en Normas IATA, 2008, 2009, 2012, 2014,2016,2018</li>
         <li class="li-mariaInes" type="none">Manejo de Microsoft (Excel, Word, Power Point).</li>
         <li class="li-mariaInes" type="none">Manejo de material de laboratorio (pipetas, balanzas, salas de siembra, material estéril, microscopio, pHmetro, espectrofotómetros, sensor de Oxígeno disuelto, entre otros).
         </li>
         <li class="li-mariaInes" type="none">Manejo de aparatos como autoanalizadores (Metrolab 2100, Hitachi 905), contador hematológico (Cell Dyn) , ionómetro (Easy Lite y Diestro, de ión selectivo), Metrolab 1600, coagulómetro y sensor de pH y gases en sangre.
         </li>
         <li class="li-mariaInes" type="none">Manejo y organización de laboratorio (coordinación del trabajo en equipo, recepción de muestras, análisis, emisión de resultados, realización de informes, etc.)</li>
       </ol>
     </div>
<br>
     <div class="p-mariaInes">
       <h5>Historial laboral</h5>
       <p>Dirección Técnica y Bioquímica de Laboratorio del Milagro (laboratorio de análisis clínicos)
       </p>
       <p>Guardia activa en el laboratorio del Hospital Privado de Tres Cerritos.
       </p>
       <p>Asistente de Investigación y Bioquímica en Protocolos de Investigación Clínica en Prevención Cardiovascular Salta.
       </p>
       <p>Bioquímica de planta en Clínica Luz Médica, San Miguel de Tucumán.
       </p>
       <p>Bioquímica de planta en Laboratorio Sanatorio Rivadavia, San Miguel de Tucumán.
       </p>
       <p>Auxiliar Docente Inst. de Biotecnología de la Fac. de Bqca., Qca. y Fcia. de la UNT
       </p>
       <p>Practicante agregado, Menor y Mayor en la Guardia del Hospital A. C. Padilla, San Miguel de Tucumán.
       </p>
     </div>
   </div>
  </section>
  {% endblock %}
</body>
</html>