@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Michroma&family=Rajdhani:wght@500&display=swap');

:root {
  --white: rgb(245, 243, 244);
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;    
    margin:0;    
}

/**/

.titulo {
    font-family: 'Michroma', sans-serif;
    color: var(--white);
    font-size: 34px;
    animation: move 1s ease-out;
    transition-duration: 1s;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

 100% {
    opacity: 1;
    transform: translateY(0);}
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    10% {border-color: transparent;}   
}

.card-grid {
width: fit-content;
display: inline-block;
animation: move 1s ease-out;
transition-duration: 1s;
}

.card-blur {
    width: 250px;
    height: 380px;
    box-shadow: 4px 4px 15px whitesmoke;
    display: inline-block;
    border-radius: 20px;
    margin: 0 15px;
}

.card-blur:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 2s;
}

/*Cuando selecciono una foto, con el cursor, las demas sedifuminan y se ponen grises*/
.card-grid:hover .card-blur:not(:hover) {
  filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(10px);
  transition: filter 200ms linear, transform 200ms linear;
}

.img-card {
  width: 250px;
  height: 250px;  
  margin-top: 30px;
}


.nombre {
color: var(--white);
font-size: 1.5vw;
font-family: 'Michroma', sans-serif;

}


footer {
  display: inline-flex;
  color: white;
  width: 100%;
  height: 4vw; 
  left: 0;
  bottom: 0;  
  margin-top: 0;
  
  
}

.foot-ppal {
  display: inline-flex;
  justify-self: first baseline;
  justify-content: center;
  color: white;
  height: 3vw; 
  
  
}

.foot1 {
  display: inline-flex;
  justify-content: flex-start;
  position: fixed;
  width: fit-content;
  font-size: 1.3vw;
  
  border: 4px blueviolet dotted;
}


.foot2 {
  display: inline-flex;
  justify-content: flex-end;
  right: 0;
  position: fixed;
  width: fit-content;
  font-size: 1.3vw;

  border: 4px blueviolet dotted;
}

.fa {
  color: white
}
